language: rust
os: linux
dist: trusty
sudo: required
matrix:
  fast_finish: true
  include:
    - os: linux
      rust: stable
      env: TYPE=default RUST_BACKTRACE=1 RUSTC_WRAPPER=sccache
      script:
        - cargo build --verbose
        - cargo test --verbose
        - cargo build --release --verbose
        - cargo test --release --verbose
        - cargo run --release -- --version
    - os: linux
      rust: stable
      env: TYPE=tls RUST_BACKTRACE=1 RUSTC_WRAPPER=sccache
      script:
        - cd rpc-perf
        - cargo build --features tls
        - cargo test --features tls
        - cargo build --release --features tls
        - cargo test --release --features tls
        - cargo run --release --features tls -- --version
    - os: linux
      rust: stable
      env: TYPE=rustfmt RUST_BACKTRACE=1 RUSTC_WRAPPER=sccache
      script:
        - rustup component add rustfmt --toolchain stable
        - cargo +stable fmt -- --check
    - os: linux
      rust: nightly
      env: TYPE=clippy RUST_BACKTRACE=1 RUSTC_WRAPPER=sccache
      script:
        - rustup toolchain install nightly-2020-05-01
        - rustup component add clippy --toolchain nightly-2020-05-01
        - cargo +nightly-2020-05-01 clippy --features tls
