language: rust
rust:
  - stable
  - beta
  - nightly
os:
  - linux
before_script: (cargo install rustfmt || true)
script:
- cargo build --verbose --no-default-features
- cargo build --release --verbose --no-default-features
- cargo test --verbose --no-default-features
- cargo test --release --verbose --no-default-features
- cargo fmt -- --write-mode=diff
matrix:
  include:
    - os: linux
      rust: nightly
      script: cargo bench --no-default-features --features unstable
    - os: linux
      rust: nightly
      script: cargo build --no-default-features --features asm
  allow_failures:
    - rust: nightly
