[package]
name = "rpc-perf"
version = "2.0.4-pre"
authors = ["Brian Martin <bmartin@twitter.com>"]

license = "Apache-2.0"

description = "RPC Performance Testing"

homepage = "https://github.com/twitter/rpc-perf"
repository = "https://github.com/twitter/rpc-perf"

readme = "README.md"

[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 1

[profile.bench]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[profile.release]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[dependencies]
byteorder = "=1.0.0"
bytes = "=0.3.0"
crc = "=1.2.0"
getopts = "=0.2.14"
log = "=0.3.7"
log-panics = "=1.1.0"
mio = "=0.6.7"
mpmc = "=0.1.2"
pad = "=0.1.4"
rand = "=0.3.15"
ratelimit = "=0.3.1"
shuteye = "=0.2.0"
slab = "=0.3.0"
simple_logger = "=0.4.0"
tic = "=0.1.11"
time = "=0.1.37"
toml = "=0.2.1"

[features]
asm = [ "tic/asm" ]
default = []
unstable = []
