# this example is the default behavior of rpc-perf
# non-ratelimitied hotkey get suitable for memcache or redis on a 1byte key
#
# use-case: measure the peak get rate for a single connection with minimal payload

[general]
threads = 1
connections = 1
duration = 60
windows = 5
protocol = "memcache"
tcp-nodelay = false
ipv4 = true
ipv6 = true

[[workload]]
name = "get"
method = "get"
rate = 0
  [[workload.parameter]]
  style = "static"
  size = 1
  seed = 0